@model site.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Register", "Acc", FormMethod.Post))
{
    <div style="color:red">@ViewBag.error </div>
    <div class="form-group">
        <label for="fn">ID</label>
        @Html.TextBoxFor(m => m.user, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.user) </div>
    </div>
    <div class="form-group">
        <label for="Last Name">password</label>
        @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.password) </div>
    </div>
    <input id="Submit2" class="btn btn-primary" type="submit" value="Login" />
}

