@model WebApplication1.Models.Customer

@{
    ViewBag.Title = "CustomerDetals";
}

<h2>CustomerDetals</h2>
<table class="table">
    <tr>
        <td>First name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>@Model.Lastname</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>avg</td>
        @*@if (Model.Avereng < 2000)
        {
            <td style="color:red">@Model.Avereng</td>
        }
        else
        {
            <td style="color:forestgreen">@Model.Avereng</td>
        }*@
        <td style="color:@Model.Color">@Model.Avereng</td>
    </tr>

</table>
